body {
width: 500px;
margin: 0 auto;
text-align: justify;
font-family: helvetica;
}

nav{
width: 100%; 
margin: 0 auto;
text-align: center;
margin-top: 50px;
}

h1 {
text-transform: uppercase;
font-family: helvetica;
}

a:link, a:visited{text-decoration: none; color: black;}

a:hover {
color: blue;
};